Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -performance-avoid-endl,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-special-member-functions,
  -readability-identifier-length

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file